server:
  port: 8081

spring:
  application:
    name: mcp-client
  ai:
    chat:
      client:
        enabled: true
    openai:
      api-key: ${OPENAI_API_KEY}
      base-url: https://api.openai.com
      chat:
        options:
          max-tokens: 1024
          temperature: 0.7
          top-p: 1.0
          model: gpt-3.5-turbo
    deepseek:
      api-key: ${DEEPSEEK_API_KEY}
      base-url: https://api.deepseek.com
      chat:
        options:
          max-tokens: 1024
          temperature: 0.7
          model: deepseek-chat

logging:
  level:
    root: INFO
    cn.netbuffer: DEBUG